body{
  font-family: "Press Start 2P", cursive;
  background: black;
  color: white;

}

.roster{
  margin-left: 810px;
  margin-top:  50px;
  height: 100px;
  width:250px;

  position: absolute;
  font-size: 8px;
}

tr{
  padding: 2px;
}

.canvas{
  clear: right;
  overflow:  hidden;
  display: inline-block;
  position: relative;
}

h1{
  text-align: center;
}
