body{
  font-family: "Press Start 2P", cursive;
  background: black;
  color: steelblue;
  overflow: hidden;

}

a {
  font-size: 18px;
}
.roster{
  margin-left: 810px;
  margin-top: 50px;
  height: 1000px;
  width: 600px;
  position: absolute;
  font-size: 8px;
  border: 3px gold;
}

.uimenu{
  text-align: center;

}


li {
  font-size: 14px;
  list-style-type: none;
}

td{
  font-size: 14px;
}

.gamestatsTable tr{
  font-size: 14px;
}




.canvas{
  clear: right;
  overflow:  hidden;
  display: inline-block;
  position: relative;
}

h1{
  text-align: center;
}


.title {
  text-align: center;
}
