<div class="gameStats" ng-controller="gamestatsCtrl">


    <table class="gamestatsTable">


        <tr><td> Total Yards:  </td> <td> 200</td></tr>
        <tr><td> Turnovers/Lost:  </td> <td> 1/1</td></tr>
        <tr><td> Penalties/Yards: </td> <td> 5/30</td></tr>
        <tr><td> Play Count: </td> <td> {{playCount}}</td></tr>

        <th><h3> Passing</h3></th>
        <tr><td> Passing Yards:  </td> <td> 200 </td></tr>
        <tr><td> Pass Comp/Att:   </td> <td> 9/12 </td></tr>
        <tr><td> Completetion %:  </td> <td> 75% </td></tr>

        <th><h3>Rushing</h3></th>
        <tr><td> Rushing Yards:  </td> <td> 50 </td></tr>
        <tr><td> Yards/Carry:   </td> <td> 3.7 </td></tr>
        <tr><td> Completetion %:  </td> <td> 75% </td></tr>

        <th><h3> Reciving</h3></th>
        <tr><td> WR1:   </td> <td> {{wr1Yards}} </td></tr>
        <tr><td> WR2:   </td> <td> {{wr2Yards}} </td></tr>
        <tr><td> WR3:   </td> <td> {{wr3Yards}} </td></tr>
    



    </table>

</div>
