 <section class = "title">
    <h4> Pass Plays </h4>
    <p>Coach, select the play:</p>
</section>

    <button type="button" onclick="passPlayLeft()"  class="btn btn-info">Pass Left</button>
    <button type="button" onclick="passPlayMiddle()"  class="btn btn-info">Pass Middle</button>
    <button type="button" onclick="passPlayRight()"  class="btn btn-info">Pass Right</button>
    <button type="button" onclick="runPlayLeft()"  class="btn btn-info">Run Left</button>
    <button type="button" onclick="runPlayMiddle()"  class="btn btn-info">Run Middle</button>
    <button type="button" onclick="runPlayRight()" class="btn btn-info">Run Right</button>
